#divmenu{
	text-align: center;
  
}

/*html {
  box-sizing: border-box;
}*/

#divmenu{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body {
  width: 1250px;
  height: 100%;
  background: black;
  font-family: 'Inter', sans-serif;
  margin-left: auto;
	margin-right: auto;
  
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /*max-width: 720px;*/
  margin: 0 auto;
  height: 100px;
  list-style: none;
}

.menu li {
  width: 250px;
  height: 50px;
  /*padding: 5px 10px 5px 10px;*/
  transition: background-position-x 0.9s linear;
  text-align: center;
  
}

  a{
    font-size: 17px;
    color: white;
    text-decoration: none;
  }

 a:hover {
   color: #cc0606;
   position:relative;
   top:-2px;
   text-shadow: 1px 1px 2px black;
  }

*{ margin:0; padding:0;}

form,input,select,textarea{margin:0; padding:0; color:#ffffff;}

div.box {
    margin:0 auto;
    width:500px;
    background:#222222;
    position:relative;
    top:50px;
    border:1px solid #262626;
  font:100% normal;   
  background:#161712;
}

h1{
  text-align: center;
}
div.box h1 {
    color:#ffffff;
    font-size:25px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
}

div.box label {
    width:100%;
    display: block;
    background:#1C1C1C;
    border-top:1px solid #262626;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;
}

div.box label span {
    display: block;
    color:#bbbbbb;
    font-size:18px;
    float:left;
    width:100px;
    text-align:right;
    padding:5px 20px 0 0;
}

div.box .input_text {
    padding:10px 10px;
    width:200px;
    background:#262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
}

div.box .message{
    padding:7px 7px;
    width:350px;
    background:#262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
    overflow:hidden;
    height:150px;
}

div.box .button{
    margin:0 0 10px 0;
    padding:4px 7px;
    background:#CC0000;
    border:0px;
    position: relative;
    top:10px;
    left:382px;
    width:100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left:1px double #FF0033;
    border-right:1px double #FF0033;
}